<!-- ######## This is a comment, visible only in the source editor  ######## -->
<meta http-equiv="Content-Type"content="text/html;charset=utf-8">
<h1 style="color: #4485b8; text-align: center;"><strong>电磁学（Electromagnetism）</strong></h1>
<h2 style="color: #000000; text-align: center;">任课教师：尹航</h2>
<hr />
<p><img src="Figs/EM.png" width="500" height="375" alt="" style="display: block; margin-left: auto; margin-right: auto;" /></p>
<p style="text-align: center;"></p>

<table class="editorDemoTable" style="height: 323px; width: 667px; vertical-align: top; border-collapse:collapse;margin: 0 auto; cellspacing:1px; border:1px solid #000000; border-style: solid; border-color: #060606; background-color: #cbc9ff; margin-left: auto; margin-right: auto;">
<thead>
<tr style="height: 23px;">
<td style="width: 227.805px; height: 23px; text-align: center;border: 1px solid #000000;">章节</td>
<td style="width: 179.641px; height: 23px; text-align: center;border: 1px solid #000000;">网页</td>
<td style="width: 258.555px; height: 23px; text-align: center;border: 1px solid #000000;">网页ppt</td>
</tr>
</thead>
<tbody>
<tr style="height: 25px;">
<td style="min-width: 140px; width: 227.805px; height: 25px;border: 1px solid #000000;"><strong><strong>一：电荷和电场</strong></strong></td>
<td style="width: 179.641px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_1.html">链接</a></td>
<td style="width: 258.555px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_1.slides.html">链接</a></td>
</tr>
<tr style="height: 25px;">
<td style="width: 227.805px; height: 25px;border: 1px solid #000000;"><strong>二：高斯定理</strong></td>
<td style="width: 179.641px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_2.html">链接</a></td>
<td style="width: 258.555px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_2.slides.html">链接</a></td>
</tr>
<tr style="height: 25px;">
<td style="width: 227.805px; height: 25px;border: 1px solid #000000;"><strong>三：电势</strong></td>
<td style="width: 179.641px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_3.html">链接</a></td>
<td style="width: 258.555px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_3.slides.html">链接</a></td>
</tr>
<tr style="height: 25px;">
<td valign="top" style="width: 227.805px; height: 25px;border: 1px solid #000000;"><strong>四：电容和电介质</strong></td>
<td style="width: 179.641px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_4.html">链接</a></td>
<td style="width: 258.555px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_4.slides.html">链接</a></td>
</tr>
<tr style="height: 25px;">
<td valign="top" style="width: 227.805px; height: 25px;border: 1px solid #000000;"><strong>五：电流、电阻和电动势</strong></td>
<td style="width: 179.641px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_5.html">链接</a></td>
<td style="width: 258.555px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_5.slides.html">链接</a></td>
</tr>
<tr style="height: 25px;">
<td valign="top" bgcolor="#FF0000" style="width: 227.805px; height: 25px;border: 1px solid #000000;"><strong>六：直流电路</strong></td>
<td bgcolor="#FF0000" style="width: 179.641px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_6.html">链接</a></td>
<td bgcolor="#FF0000" style="width: 258.555px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_6.slides.html">链接</a></td>
</tr>
<tr style="height: 25px;">
<td valign="top" style="width: 227.805px; height: 25px;border: 1px solid #000000;"><strong>七：磁场和磁场力</strong></td>
<td style="width: 179.641px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_7.html">链接</a></td>
<td style="width: 258.555px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_7.slides.html">链接</a></td>
</tr>
<tr style="height: 25px;">
<td valign="top" style="width: 227.805px; height: 25px;border: 1px solid #000000;"><strong>八：磁场的源</strong></td>
<td style="width: 179.641px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_8.html">链接</a></td>
<td style="width: 258.555px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_8.slides.html">链接</a></td>
</tr>
<tr style="height: 25px;">
<td valign="top" style="width: 227.805px; height: 25px;border: 1px solid #000000;"><strong>九：电磁感应</strong></td>
<td style="width: 179.641px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_9.html">链接</a></td>
<td style="width: 258.555px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_9.slides.html">链接</a></td>
</tr>
<tr style="height: 25px;">
<td valign="top" style="width: 227.805px; height: 25px;border: 1px solid #000000;"><strong>十：电感</strong></td>
<td style="width: 179.641px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_10.html">链接</a></td>
<td style="width: 258.555px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_10.slides.html">链接</a></td>
</tr>
<tr style="height: 25px;">
<td valign="top" bgcolor="#FF0000" style="width: 227.805px; height: 25px;border: 1px solid #000000;"><strong>十一：交流电</strong></td>
<td bgcolor="#FF0000" style="width: 179.641px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_11.html">链接</a></td>
<td bgcolor="#FF0000" style="width: 258.555px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_11.slides.html">链接</a></td>
</tr>
<tr style="height: 25px;">
<td valign="top" style="width: 227.805px; height: 25px;border: 1px solid #000000;"><strong>十二：电磁介质</strong></td>
<td style="width: 179.641px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_12.html">链接</a></td>
<td style="width: 258.555px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_12.slides.html">链接</a></td>
</tr>
<tr style="height: 25px;">
<td valign="top" style="width: 227.805px; height: 25px;border: 1px solid #000000;"><strong>十三：电磁波</strong></td>
<td style="width: 179.641px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_13.html">链接</a></td>
<td style="width: 258.555px; height: 25px; text-align: center;border: 1px solid #000000;"><a href="Chapter_13.slides.html">链接</a></td>
</tr>
</tbody>
</table>
<hr />
<p>配套西尔斯教材（Sears and Zemansky's University Physics With Modern Physics）。欢迎大家提建议！如果问题，请联系29604268 AT qq.com!</p>
<body>
<div align="center">
    <img src="Figs/middleparrot.gif" width="40"  alt="" />
    <img src="Figs/middleparrot.gif" width="40"  alt="" />
    <img src="Figs/middleparrot.gif" width="40"  alt="" />
    <img src="Figs/middleparrot.gif" width="40"  alt="" />
    <img src="Figs/middleparrot.gif" width="40"  alt="" />
    <img src="Figs/middleparrot.gif" width="40"  alt="" />
    <img src="Figs/middleparrot.gif" width="40"  alt="" />
    <img src="Figs/middleparrot.gif" width="40"  alt="" />
    <img src="Figs/middleparrot.gif" width="40"  alt="" />
    <img src="Figs/middleparrot.gif" width="40"  alt="" />
    <img src="Figs/middleparrot.gif" width="40"  alt="" />
    <img src="Figs/middleparrot.gif" width="40"  alt="" />
</div>
</body>
<div align="right"><p>尹航</p></div>
<div align="right"><p>2023春季于桂子山</p></div>
<hr />
<p></p>